:root {
    font-size: 12q;
}

p:last-child{
    margin-bottom: 0;
}

body {
    width: 190mm;
    margin: auto;
}

header {
    display: none;
}

.wrapper {
    display: block;
    column-gap: 0;
}

.hero {
    height: 35mm;
    margin-bottom: 8mm;
}

section {
    margin-bottom: 4mm;
}

section:last-child{
    margin-bottom: 0;;
}

h2 {
    margin-bottom: 2mm;
    font-size: 18q;
}

h3 {
    margin: 0 0 2mm;
}

h2 + p {
    margin: 0 0 2mm;
}

.works {
    display: flex;
    flex-wrap: wrap;
    column-gap: 2%;
}

.outline,
.works,
.finish {
    width: 100%;
}

.section-content {
    margin-bottom: 5mm;
}

.works-img {
    min-width: 100%;
}

.summary,
.wireflame,
.document,
.tool {
    flex-basis: 49%;
}

.wireflame-img {
    overflow: hidden;
}

.wireflame-img img {
    object-fit: cover;
    height: 40mm;
    width: 100%;
    object-position: 20% 100%;

}

.works-link,
footer {
    display: none;
}
