@charset "utf-8";

:root {
    font-size: 15px;
}

body {
    margin: 0;
}

.wrapper {
    display: flex;
    column-gap: 1rem;
}

header {
    width: 16rem;
    background-color: #dadada;
    flex-grow: 1;
    padding: 1.75rem;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    line-height: 1.7;
    padding-left: .6rem;
    border-left: 2.4px solid #aaa;
    margin-bottom: 1rem;
}

.active {
    border-left-color: #d00;
}

.portforio-title {
    font-size: 1.25rem;
    margin-bottom: 4rem;
}

.subTitle {
    font-size: 1rem;
}

main {
    min-width: 50%;
    flex-grow: 999;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

.hero {
    width: 100%;
    background: url(../images/hero.png) top center no-repeat;
    background-size: cover;
    display: table;
    height: 300px;
    margin-bottom: 4rem;
}

.hero h1 {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

section {
    margin-bottom: 4rem;
}

.outline,
.works,
.finish {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.section-content {
    margin-bottom: 4rem;
}

table,
tr,
th,
td {
    border-collapse: collapse;
    border: 1px solid #777;
    padding: .5rem;
}

.document-img img {
    border: 1px solid #cfcfcf;
}

.img-hover:hover img {
    object-fit: none;
}

.caption {
    font-size: .9em;
}

footer {
    width: 100%;
    background-color: darkgray;
    color: #ddd;
}

.copylight {
    text-align: center;
    padding: 1em;
    margin: 0;
}
